{% load static %}

<html lang="en">
<head>

    <style>
     .about{
 text-align: center;
        background-color: AliceBlue;
         border: solid;
         border-width: 1px;
        border-color: CornflowerBlue;
        margin: 15px 7px 15px 7px;
        padding: 5px 17px 5px 17px;
         border-radius: 25px;
        font-family: Cursive;
        }
        .quote{
        margin: 15px 7px 15px 7px;
        padding: 30px 30px 30px 30px;

        }
 .footer{
   line-height: 1.0;

        text-align: center;
        background-color: black;
        color: white;
        }
        footerContact{
        text-align: center;
        }
        hr{color: blue;
        }
.table{column-gap: 30px;
}
.body{
    background-color: #C5DAE7;
}
    body {
    background-image: url("https://images.pexels.com/photos/1909331/pexels-photo-1909331.jpeg?auto=compress&cs=tinysrgb&w=600");
}
    </style>
    <link rel="stylesheet" type="text/css" href="{static 'css\base.css'}"/>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>whownstech | Homepage</title>
    <link rel="icon"
          href="https://media.istockphoto.com/id/478858488/photo/eco-friendly-technology-concept.jpg?s=612x612&w=0&k=20&c=kOgzEEty3MnrHdAdGGZN81rpksmPH5BRsCtm3FsHrCE="
          type="image/png">
</head>
<body style="background-color: #C5DAE7">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><b><img
            src="https://media.istockphoto.com/id/478858488/photo/eco-friendly-technology-concept.jpg?s=612x612&w=0&k=20&c=kOgzEEty3MnrHdAdGGZN81rpksmPH5BRsCtm3FsHrCE="
            width="70px">whownstech.com</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact admin</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    SIGN IN
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Login</a>
                    <a class="dropdown-item" href="#">Don't have account? Create Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Report</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
<input type="button"
       value="Like it? Give a thumbs up👍"
       onclick="alert('I HIGHLY APPRECIATE IT, THANKS🙏 !!')"
       text-align="center">
<br>
<br>
<br>
<hr>
<div class="about">
    <h5>ABOUT</h5>
    <p>In brief, Ian is a 20-year-old male living in Nairobi, Kenya with a strong passion for coding, watching movies,
        football and traveling. I have
        watched a wide range of movies, with the SciFi "The Orville" being one of my favorites.
        Programming has been an interest of mine for a few years now,
        I have a good understanding and hands-on experience with few programming languages i.e. Python, Java and
        Javascript and some frameworks-MERN
        Stack for full stack web development. Traveling is another passion of mine, and I have visited various places
        around the world, each offering
        a unique experience. With a strong interest in technology, I passionately write articles during my free time
        with a focus of providing insightful
        analysis and thought-provoking commentary.</p>
</div>
<br>

<div class="quote">
    <p>
    I love a statement I found attributed to a Russian philosopher, literary critic and scholar and I will quote...
    "Nothing conclusive has yet taken place in the world, the ultimate word of the world and about the world
    has not yet been spoken, the world is open and free, everything is still in the future and will always be
    in the future." <br>-- <em>Mikhail Mikhailovich Bakhtin (1895–1975)</em>
    </p>


</div>
<br>
<footer>
    <div class="footerContact">
        <u><b>Contact me</b></u>
        <p><a href="https://www.linkedin.com/in/ianmalobamwakha/"
              target="_blank"> LinkedIn: <img
                src="https://pbs.twimg.com/profile_images/1508518003184349187/1KQYoqPY_400x400.png" width=20px/></a>
            <a href="mailto: ianmalobamwakha@gmail.com" target="_blank"> Email: <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThMp_w31QIxPkclKoeQk_LwqWqYLBVKX2cnAybUvi0gQ&s"
                    width=20px/>
            </a> <a href="https://github.com/IanMalobaMwakha" target="_blank"> Github: <img
                    src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width=20px/>
            </a>
            <a
                    href="https://api.whatsapp.com/send?phone=254746883374&text=Hello%20Ian..."
                    target="_blank"> Whatsapp: <img
                    src="https://pbs.twimg.com/profile_images/1318652224638124032/wrpp2Nl4_400x400.png" width=20px/>
            </a>
            <a href="https://msng.link/o/?@malobaian=tg" target="_blank"> Telegram: <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/800px-Telegram_2019_Logo.svg.png"
                    width=20px/>
            </a></p>
    </div>
    <hr>
    <br>

    <div class="footer">
        <u><b>Copyrite</b></u>
        <p>
            <img src="https://media.istockphoto.com/id/478858488/photo/eco-friendly-technology-concept.jpg?s=612x612&w=0&k=20&c=kOgzEEty3MnrHdAdGGZN81rpksmPH5BRsCtm3FsHrCE="
                 width="50px">This Website was Developed and Articles written in its entirety by: <b>MALOBA IAN M.</b>
        </p>
        <a href="https://codepen.io/ianmalobamwakha/pens/public" target="_blank">
            <p>
                <button><em>Follow me on codepen.io</em></button>
            </p>
        </a>
        <p><em><b> I.M.M © All rights reserved.®</b> </em></p>
        <p><em>With love from Nairobi, Kenya.</em></p>
        <br>
        <br>
        <br>
        <div class="license">
            <p>
                <small>This site by <a href="https://codepen.io/ianmalobamwakha/full/YzOMZER" target="_blank">
                    <em>Maloba Ian M. </em></a> is licensed under a <a
                        href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
                    <em>Creative Commons
                        Attribution-Noncommercial-No Derivative Works 4.0
                        International License (CC BY-NC-ND 4.0)</em></a>. All educational and non-educational uses are
                    permitted
                    with attribution and a link to this page, no exclusive intellectual property rights apply. I strive
                    to maintain a respectful and professional tone on this
                    website, but I acknowledge that there may be instances where strong
                    language is used to convey a point. I apologize in advance if any language
                    used on this website comes across as harsh or offensive :p</small>
            </p>

        </div>
    </div>

</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

